onnxruntime~=1.19.2
numpy~=1.23.5
pandas~=2.2.3
pytorch-lightning~=2.5.0
pytorch_optimizer~=2.12.0
soundfile~=0.13.1
torch~=2.4.1
torchaudio~=2.4.1
torchmetrics~=1.6.0
tensorboard~=2.19.0
tokenizers~=0.21.0